OdorSeqPython.code-workspace
.vscode/launch.json
.idea/misc.xml
.idea/vcs.xml
modules.xml
OdorSeqPython.iml
profiles_settings.xml
__pycache__/*.pyc
**/*.pyc
*/*.__pycache__
.conda
__pycache__/*
.gitignore
__pycache__/controller.cpython-38.pyc
